
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ .Release.Name }}-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /{{ .Release.Name }}/(.*)
        backend:
          serviceName: {{ .Release.Name }}-service
          servicePort: {{ .Values.container.port }}
      